# Dependency directories
node_modules/

# Environment variables
.env

# IDE files
.vscode/
.idea/
Facturas.code-workspace

# System files
sqlQueries/
facturasPDF/
.DS_Store
Thumbs.db

# Debug logs
*.log